.SingleUnicornNote {
  border: 1px solid black;
  background-color: linen;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.SingleUnicornNote .from {
  margin: 5px 0 15px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.SingleUnicornNote img {
  height: 24px;
  border-radius: 50%;
  margin: 0 5px;
}

.SingleUnicornNote .comment {
  margin-bottom: 10px;
}

.SingleUnicornNote .buttons {
  display: flex;
  justify-content: space-between;
}

.SingleUnicornNote .fa-solid:hover,
.SingleUnicornNote .fa-regular:hover {
  cursor: pointer;
}
