.SingleUnicornNote {
  border: 1px solid black;
  background-color: linen;
  border-radius: 5px;
  margin: 10px;
  position: relative;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 4s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: all 4s;
}

.SingleUnicornNote h4 {
  margin: 15px 0 0 15px;
}

.SingleUnicornNote .from {
  margin: 5px 15px 15px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.SingleUnicornNote .from a {
  color: black;
  text-decoration: none;
}

.SingleUnicornNote img {
  height: 24px;
  border-radius: 50%;
  margin: 0 5px;
}

.SingleUnicornNote .comment {
  margin: 15px;
}

.SingleUnicornNote .blueberries {
  margin: 15px;
  font-size: 12px;
  color: gray;
}

.SingleUnicornNote i {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.SingleUnicornNote .buttons {
  width: 100%;
  display: flex;
}

.SingleUnicornNote .buttons button {
  width: 50%;
  height: 25px;
  border-top: 1px solid black;
  background-color: transparent;
  cursor: pointer;
}

.SingleUnicornNote .buttons button:hover {
  background-color: #f5e0cc;
}

.SingleUnicornNote .buttons button:active {
  background-color: #ebc099;
}

.SingleUnicornNote .blueberries-button {
  border-left: none;
  border-bottom: none;
  border-right: 0.5px solid black;
  border-bottom-left-radius: 5px;
}

.SingleUnicornNote .add-comment-button {
  border-right: none;
  border-bottom: none;
  border-left: 0.5px solid black;
  border-bottom-right-radius: 5px;
}
