/* resets */
body,
h1,
h2,
h3,
h4,
h5,
nav,
ul,
li,
button,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
